# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Flask specific
instance/
.flaskenv

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
