<!-- leave_status.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Leave Status</title>
</head>
<body>
    <h1>Leave Status</h1>
    <table border="1">
        <tr>
            <th>ID</>
            <th>Username</th>
		    <th>Designation</th>
		    <th>Personal Number</th>
            <th>Start Date</th>
            <th>End Date</th>
		    <th>Report Date</th>
        </tr>
        {% for record in leave_data %}
            <tr>
                <td>{{ record[0]}}</td>
                <td>{{record[1]}}</td>
		        <td>{{record[2]}}</td>
		        <td>{{record[3]}}</td>
                <td>{{record[4]}}</td>
                <td>{{record[5]}}</td>
                <td>{{record[6]}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
