<!-- leave_form.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Leave Form</title>
</head>
<body>
    <h1>Leave Form</h1>
    <form method="post" action="{{ url_for('leave_form') }}">
        <label for="username">Username:</label>
        <input type="text" name="username" required><br>
	<label for="Designation">Designation:</label>
	<input type="text" name="Designation" required><br>
	<label for="Personal Number">Personal Number:</label>
	<input type="integer" name="Personal Number"required><br>
        <label for="start_date">Start Date:</label>
        <input type="date" name="start_date" required><br>
        <label for="leave_duration">leave duration:</label>
        <input type="integer" name="leave_duration" required><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
